<div class="tribute" id="respect">
    <div class="tribute__content content">
        <div class="tribute__content__title title">
            <h2>Tribute and Respect</h2>
        </div>
        

  <div class="slideshow-container" >

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
        <img src="assets/pics/fluffy.jpg" style="width:100%; border-radius: 8px;">
      <div class="text">
      
        <h3>Gabriel (Fluffy) Iglesias</h3>
        <p>Famous Stand Up Comedian, likes mexican food and fast food at McDonald's</p>
      
        <h3>quote</h3>
        <p>"I'm Not Fat I'm Fluffy"</p>
      
      </div>
    </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="assets/pics/labadze.jpg" style="width:100%; border-radius: 8px;">
    <div class="text">
      <h3>Davit Labadze</h3>
      <p >host of the "Kacebis shou", eminent varacious eater and 4th degree cook</p>

      <h3>favourite dish</h3>
      <p>everything</p>

    </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="assets/pics/joey.jpg" style="width:100%; border-radius: 8px;">
    <div class="text">
      <h3>Joey Tribbiani</h3>
      <p>Actor In Days Of Our Lives, Who Can Eat whole Turkey in one sitting</p>

      <h3>quotes</h3>
      <p>"JOEY DOES NOT SHARE FOOD!"</p>
      <p>"How you Doin'"</p>
    </div>
  </div>

  </div>
<br>

</div>

</div> 