<address class="contact" id="info">
    <h2 style="margin-bottom: 15px">Contact</h2>

<h4>The Restauraunt Is Open 24/7</h4>
<h4>The Website was Created With The Love Of Food</h4>

<h4>In Case You Liked The Website and Are Interested Contact Me</h4>

<div style="margin-top: -10px;" class="contact__info">
    <h3 class="contact__info__content content">+995 579 88 11 40</h3>
    <h3 class="contact__info__content content"><a style="text-decoration: underline;" href="mailto:ratiabula4hvili@gmail.com">ratiabula4hvili@gmail.com</a></h3>
</div>

</address>