 
    <div id="fornav">
        <h1 class="eaters_logo">
            <a id="logo">eaters<span id="logo__dotcom">.com</span></a> 
        </h1>

        <pre class="fornav__description1">the webpage for true eaters...<br>I respect and appreciate every single one of you</pre>
    
        <ul class="fornav__nav">
            <a href="#home"><li class="fornav__nav__el, el1, el">Home</li></a>
            <a href="#menu"><li class="fornav__nav__el, el">Menu</li></a>
            <a href="#respect"><li class="fornav__nav__el, el">Tribute</li></a>
            <a href="#info"><li class="fornav__nav__el, el">contact</li></a>
        </ul>

    </div> 

    <div class="slider mid" id="home">

        <div class="slides">

            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2" >
            <input type="radio" name="r" id="r3" >
            <input type="radio" name="r" id="r4" >

            <div class="slide s1">
                <img src="assets/pics/burger.webp" alt="burger"   >
            </div>
            <div class="slide">
                <img src="assets/pics/pizza.webp" alt="pizza" id="pizza">
            </div>
            <div class="slide">
                <img src="assets/pics/xachapuri.webp" alt="xachapuri"  >
            </div> 
            <div class="slide">
                <picture>
                    <source type="image/webp" srcset="../assets/pics/cakee.webp">
                    <img src="assets/pics/cakee.webp" alt="cake"  >
                </picture>
            </div> 
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
        </div>

    </div> 
